# Overview

Demonstrate reading and writing Stata variable labels with Pandas.

## Reading & Displaying

After specifying `iterator=True` in the `pd.read_stata` function, the `variable_labels()` method returns a dictionary. Dictionary keys are variable names. Dictionary values are the variable labels.

In [1]:
import pandas as pd

In [2]:
df = pd.read_stata('http://www.stata-press.com/data/r15/auto2.dta')
labels = pd.read_stata('http://www.stata-press.com/data/r15/auto2.dta',
                       iterator=True).variable_labels()
labels

{'displacement': 'Displacement (cu. in.)',
 'foreign': 'Car type',
 'gear_ratio': 'Gear Ratio',
 'headroom': 'Headroom (in.)',
 'length': 'Length (in.)',
 'make': 'Make and Model',
 'mpg': 'Mileage (mpg)',
 'price': 'Price',
 'rep78': 'Repair Record 1978',
 'trunk': 'Trunk space (cu. ft.)',
 'turn': 'Turn Circle (ft.) ',
 'weight': 'Weight (lbs.)'}

In [3]:
df.head()

,make,price,mpg,rep78,headroom,trunk,weight,length,turn,displacement,gear_ratio,foreign
0,AMC Concord,4099,22,Average,2.5,11,2930,186,40,121,3.58,Domestic
1,AMC Pacer,4749,17,Average,3.0,11,3350,173,40,258,2.53,Domestic
2,AMC Spirit,3799,22,NaN,3.0,12,2640,168,35,121,3.08,Domestic
3,Buick Century,4816,20,Average,4.5,16,3250,196,40,196,2.93,Domestic
4,Buick Electra,7827,15,Good,4.0,20,4080,222,43,350,2.41,Domestic

## Creating, Writing

A dictionary can be passed with the `variable_labels` option. Dictionary containing columns as keys and variable labels as values. Each label must be 80 characters or smaller.

* If a variable label value is longer than 80 characters `pd.to_stata()` throws a `ValueError`.
* If a key value pair is missing `pd.to_stata()` does not throw an error. The file will successfuly open in Stata and there will be no label variable.
* If the value label dictionary has a key that does not correspond to a variable name `pd.to_stata()` will not throw an error.

In [4]:
df.to_stata('auto2_edit.dta',
            variable_labels=labels)